%%% -*- erlang -*- 
%%%
%%% This file is part of foafe released under the MIT license. 
%%% See the NOTICE for more information.


{deps, [
    %% webmachine
    {webmachine, ".*", {git, "git://github.com/basho/webmachine.git", {tag,
        "webmachine-1.8.0"}}},
    %% erlang-json-ld
    {jsonld, ".*", {git, "git://github.com/nrdufour/erlang-json-ld.git", {branch,
        "master"}}},
    %% erlang-json-ld
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git", {branch,
        "master"}}}
]}.

{cover_enabled, true}.
{erl_opts, [debug_info]}.

